@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 40px;
}
.deploi-img {
  width: 300px;
  height: 200px;
  background: url(./assets/img/qwer.webp) no-repeat;
  background-size: cover;
  background-position: center center;
}
